
<div class="container-fluid d-flex justify-content-center align-items-center bg-black" style="height:100vh ;">
  <div class="d-inline p-5 shadow rounded-3 bg-white">
    <app-InputLabel placeholder="اسم المستخدم">
      <input  pInputText type="text" placeholder="كتابة ..." [(ngModel)]="logInfo.NAME">
    </app-InputLabel>
    <app-InputLabel class="d-block my-4" placeholder="كلمة المرور">
      <input pInputText  type="password" placeholder="كتابة ..."  [(ngModel)]="logInfo.PASSWORD">
    </app-InputLabel>
    <p-button label="دخول" class="d-flex  justify-content-center" (onClick)="login()"
    icon="pi "></p-button>
  </div> 
</div>
