<div class="bg-animation">
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>

  <div class="orb orb1"></div>
  <div class="orb orb2"></div>
  <div class="orb orb3"></div>
</div>
<div class="d-flex justify-content-center align-items-center">
  <div class="container" dir="rtl">
    <div class="login-container">
      <div class="logo-container">
        <div class="logo">Rivo</div>
        <div class="company-name">للتطوير الأنظمة</div>
      </div>
      <div id="loginForm">
        <div class="form-group">
          <div class="input-container">
            <input type="text" class="form-input" [(ngModel)]="logInfo.NAME" id="username"  >
            <div class="input-icon">👤</div>
            <label class="form-label">اسم المستخدم</label>
          </div>
        </div>

        <div class="form-group">
          <div class="input-container">
            <input type="password" class="form-input" [(ngModel)]="logInfo.PASSWORD" id="password"  >
            <div class="input-icon">🔒</div>
            <label class="form-label">كلمة المرور</label>
          </div>
        </div>

        <button  (click)="login()" class="login-btn" id="loginBtn">
          تسجيل الدخول
        </button>
      </div>

      <div class="success-checkmark" id="successCheck"></div>
    </div>
  </div>
</div>