.body-Stepper {
    min-height: 50vh;
}

.body-Stepper {
    border: solid 1px rgba(18, 17, 17, 0.696);;
    padding: 10px 20px;
    border-radius: 5px;
    overflow: hidden;
}

.Steps-Header {
    background-color: white;
    border: solid 1px rgba(18, 17, 17, 0.696);
    padding: 5px;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.step {
    border: solid 1px rgba(18, 17, 17, 0.696);;
    box-shadow: 2px 2px 2px #8e9091;
    background-color: white;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
    margin: 3px 0px;
    transition: all 0.5s;
    font-size: 14px;

    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.Before-step {
    color: gray;
}

.step-Select {
    transition: all 0.5s;
    background-color: black;
    color: white !important ;
    border: solid 1px #ffffff;
    font-weight: bold;
}

.EndStep {
    color: black;
    font-weight: bold;
}

.step:hover {
    background-color: black;
    color: white !important ;
}

.buttonsContainer {
    margin-right: auto;
    width: fit-content;
}

@media screen and (max-width: 1030px) {
    .body-Stepper {
        padding: 10px;
    }

    .buttonsContainer {
        display: flex !important;
        padding: 0px !important;
        flex-wrap: wrap;
        margin-top: 5px;
        row-gap: 5px;
        justify-content: end !important;
        margin-inline: 0px !important;
        width: 100%;

        button {
            margin: 0px !important;
            width: 50%;

            &:last-of-type {
                width: 100%;
            }
        }
    }
}