<div dir="rtl">
  <div class="row" >
    <p-button  [raised]="true" (onClick)="AddNew()" severity="info"
      label="قيد جديد" icon="pi pi-plus" class="btn-lg px-5 py-3 fw-bold shadow-sm"></p-button>
    <div class="col-12 col-lg-3 my-2">
       <app-comboBox  [dataSource]="Accounts" optionValue="ID" optionLabel="NAME" placeholder="الحساب" apiPathDataSource="Accounts" [(SelectedValue)]="Request.ACCOUNT" class="form-control"></app-comboBox>
    </div>
  </div>
  <div class="row d-flex justify-content-center  align-items-center">
    <div class="col-12 col-lg-2 ">
      <app-InputLabel placeholder="من">
        <app-DateTime  [(selectedDate)]="Request.START" placeholder="من"></app-DateTime>
      </app-InputLabel>
    </div>
    <div class="col-12 col-lg-2">
      <app-InputLabel placeholder="الي">
        <app-DateTime [(selectedDate)]="Request.END"  placeholder="الي"></app-DateTime>
      </app-InputLabel>
    </div>
    <div class="col-12 col-lg-2">
      <p-button [raised]="true" (onClick)="GetData()" label="عرض" class="font-bold mx-1 w-100" />
    </div>
  </div>
  <div class="my-3">
    <app-dataGrid [(dataSource)]="AccountOperationLest" (onGridLoaded)="GridLoaded($event)" (RenderItemSource)="RenderItem($event)" [Columns]="Columns" >
      <div header>
        <label class="p-2 rounded-2 shadow-sm  form-label"> اجمالي المعاملات : {{GetTotal()}}</label>
      </div>
    </app-dataGrid>
  </div>
</div>