[appResizableColumn] {
    position: relative;
}
 ::ng-deep body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background : unset;
     min-height : unset;
     overflow-x : unset;
     position   : unset;
 }

.app-grid ::ng-deep .no-select {
    user-select        : none;
    /* منع تحديد النصوص */
    -webkit-user-select: none;
    /* لمنع تحديد النصوص في متصفحات WebKit مثل Chrome وSafari */
    -moz-user-select   : none;
    /* لمنع تحديد النصوص في Firefox */
    -ms-user-select    : none;
    /* لمنع تحديد النصوص في Internet Explorer */
}

.app-grid ::ng-deep .line {
    width   : 2px;
    position: absolute;
    top     : 0px;
    bottom  : 0px;
    z-index : 50;
}

.app-grid ::ng-deep .p-datatable-table-container {
    position: relative;
}

.app-grid ::ng-deep .col-resize {
    width           : 20px;
    background-color: transparent;
    position        : absolute;
    top             : 0px;
    bottom          : 0px;
    left            : 0px;
    cursor          : w-resize;
}

.app-grid ::ng-deep td p-inputnumber .p-inputtext {
    width     : 100% !important;
    text-align: center;
}

.app-grid ::ng-deep .app-grid .p-inputtext {
    width        : unset !important;
    border-radius: 0px !important;
}

.app-grid ::ng-deep th {
    padding         : 4px !important;
    background-color: transparent ;
}

.app-grid ::ng-d4eep .p-datatable-table-container {
    position: relative !important;
}

.app-grid ::ng-deep .p-datatable-thead {
    background-color: #f1f5f9 !important;
    z-index         : 10 !important;
}

.fixed-column {
    position        : static;
    left            : 0px;
    background-color: #f1f5f9 !important;
    z-index         : 20;

}

.app-grid ::ng-deep td {
    padding        : 10px !important;
    align-items    : center;
    align-content  : center;
    justify-content: center;
}

.app-grid ::ng-deep p-columnfilter p-button {
    display: none;
}

.app-grid ::ng-deep [display] p-button {
    display: block;
}

.app-grid ::ng-deep p-columnfilter p-columnfilterformelement {
    width: 100%;
}

.app-grid ::ng-deep p-columnfilter .p-inputtext {
    width        : 100%;
    border-radius: 0px;
    border       : none;
    text-align   : center;
   
}

.app-grid ::ng-deep .p-button-icon,
.p-button-icon:before,
.p-button-icon:after {
    transform: rotatey(180deg);
}

.app-grid ::ng-deep .p-datatable-tbody>tr.p-datatable-row-selected .p-button-icon,
.p-button-icon:before,
.p-button-icon:after {
    color    : grey;
    transform: rotatey(180deg);
}

.app-grid ::ng-deep .p-select-list-container {
    direction: rtl;
}

.app-grid ::ng-deep .combo .p-iftalabel {
    padding: 0px !important;
}

.app-grid ::ng-deep .combo .p-select-label {
    padding   : 1px !important;
    text-align: start;
}

.app-grid ::ng-deep .combo .p-select {
    border       : unset !important;
    border-radius: 0px !important;
    font-weight  : bold !;
}

.app-grid ::ng-deep .combo .comboLabel {
    display: none;
}

.app-grid ::ng-deep .p-inputtext {
    border       : unset !important;
    border-bottom: 0.5px dotted !important;
    padding      : 1px 5px !important;
    text-align   : start;
    box-shadow   : unset !important;
    border-radius: 0px !important;
    min-width: 100px !important;
    width: 100% !important;
}

.app-grid ::ng-deep th {
    font-size: 0.9rem !important;
}

.app-grid ::ng-deep td {
    font-size: 0.9rem !important;
}

.app-grid ::ng-deep .headerTr {
    text-wrap: wrap !important;
}

.app-grid ::ng-deep td {
    font-size: 0.9rem !important;
}

.app-grid ::ng-deep .multi {
    padding: 0px !important;
}

.app-grid ::ng-deep .multi .p-multiselect-label-container {
    padding: 0px !important;
}