<div class="card flex flex-col items-center overflow-hidden p-2">
    <div class="step1" >
        <ng-content select="[step1]"></ng-content>
    </div>
    <div class="step2">
        <ng-content select="[step2]"></ng-content>
    </div>
    <div class="step3">
        <ng-content select="[step3]"></ng-content>
    </div>
    <div class="step4">
        <ng-content select="[step4]"></ng-content>
    </div>
    <div class="step5">
        <ng-content select="[step5]"></ng-content>
    </div>
    <div class="step6">
        <ng-content select="[step6]"></ng-content>
    </div>
    <div class="step7">
        <ng-content select="[step7]"></ng-content>
    </div>
</div>