::ng-deep .p-select-clear-icon {
    left : 10px !important;
    right: unset !important;
}

::ng-deep .p-select-label {
    padding-right: 10px !important;
}

::ng-deep p-dropdown {
    position : relative;
    min-width: 200px;
}

::ng-deep [pinputtext] {
    direction: rtl !important;
}

::ng-deep p-iconfield p-inputicon {
    left: 8px !important;
}

::ng-deep p-dropdownitem li {
    direction: rtl !important;
}

::ng-deep .p-select-empty-message {
    text-align: center;
}

::ng-deep .p-select {
    display  : flex !important;
    flex-flow: row-reverse !important;
}

::ng-deep .p-select-overlay {
    width: 100% !important;
}

::ng-deep .combo .p-inputtext {
    width: 100%;
}

::ng-deep .combo .p-iftalabel label {
    font-weight  : bold !important;
    background   : white;
    width        : auto;
    padding      : 8PX;
    border-radius: 5px;
    font-size    : 14px !important;
    top          : -9px;
    right        : 14px;
}

::ng-deep .combo .p-iftalabel {
    padding-top: 10PX !important;
    width      : 100%;
}

::ng-deep .combo .p-select-label {
    padding: 22px 1px 6px 35px !important;
}