@media print {
    ::ng-deep app-nave {
        display: none;
    }
    ::ng-deep app-header {
        display: none;
    }
    ::ng-deep app-footer {
        display: none;
    }
    ::ng-deep p-button {
        display: none;
    }
    ::ng-deep p-columnfilter {
        display: none;
    }
    ::ng-deep p-sorticon{
        display: none;
    }
    ::ng-deep .p-overlay-mask{
        display: none;
    }
    ::ng-deep .p-drawer{
        display: none;
    }
    ::ng-deep p-datepicker{
        width: 100% !important;
    }
    ::ng-deep .p-datepicker-input{
        width: 100% !important;
    }
    ::ng-deep .container{
        width: 100% !important;
    }
    ::ng-deep .p-datatable-header{
        display: none;
    }
}