<div *ngIf="!_tools.transfareSherdData.sherdMood" class="Header-App">
  <div class="header-content">
    <div class="header-left">
      <button (click)="openNave()" class="header-btn-Menu">
        <i class="pi pi-align-justify"></i>
      </button>
      
      <div class="logo" routerLink="/Main">
        <div class="logo-text">Rivo</div>
      </div>
    </div>
    
    <div class="header-right">
      <app-LanguageControl></app-LanguageControl>
      <div class="user-info">
        <i class="pi pi-user"></i>
        <span class="user-name">{{this._tools.Network._LoginName}}</span>
      </div>
    </div>
  </div>
  {{connect()}}
</div>