<nav dir="rtl" class="navbar navbar-expand-lg bg-dark ">
  <div class="container-fluid">
    <p-button size="small" class="fs-4" icon="pi pi-align-justify " (onClick)="openNave()" aria-label="Save" />
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2" routerLink="/Main" routerLinkActive="router-link-active">
          <img src="PrandIcon.ico" style="width: 50px;border-radius: 50%;" alt="" srcset="">
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-white"> {{this._tools.Network._LoginName}}
            <i class="pi pi-user"></i></a>
        </li>
      </ul>
      <div class="d-flex">
        <div class="btn btn-dark me-4" (click)="logOut()" *ngIf="this._tools.Network._LoginName==''">
          تسجيل الخروج
          <i dir="rtl" class="pi pi-power-off"></i>
        </div>
        <div class="btn btn-dark me-4" (click)="logOut()" *ngIf="this._tools.Network._LoginName!=''">
          تسجيل الخروج
          <i dir="rtl" class="pi pi-power-off"></i>
        </div>
      </div>
    </div>
  </div>
</nav>