.length_of_Text {
    padding : 5px;
    position: absolute;
    left    : 3px;
    top     : 20px;
}
.Name-input [pInputText]{
    border-top: 0px !important;
  

    border-radius: 0px !important;
    box-shadow: unset !important;
}