<div dir="ltr" class="modern-container">
  <div class="modern-header">
    <p-button [raised]="true" (onClick)="AddNew()" severity="info"
      label="New Operation" icon="pi pi-plus" class="btn-lg px-5 py-3 fw-bold shadow-sm"></p-button>
    <div class="col-12 col-lg-3 my-2">
       <app-comboBox [dataSource]="WareHouses" optionValue="ID" optionLabel="NAME" placeholder="Select Warehouse" apiPathDataSource="WareHouse" [(SelectedValue)]="Request.WAREHOUSE" class="form-control"></app-comboBox>
    </div>
  </div>

  <div class="modern-filters">
    <div class="filter-group">
      <div class="col-12 col-lg-2">
        <app-InputLabel placeholder="Start Date">
          <app-DateTime [(selectedDate)]="Request.START" placeholder="Start Date"></app-DateTime>
        </app-InputLabel>
      </div>
      <div class="col-12 col-lg-2">
        <app-InputLabel placeholder="End Date">
          <app-DateTime [(selectedDate)]="Request.END" placeholder="End Date"></app-DateTime>
        </app-InputLabel>
      </div>
      <div class="col-12 col-lg-2">
        <p-button [raised]="true" (onClick)="GetData()" label="Search" class="font-bold mx-1 w-100" />
      </div>
    </div>
  </div>

  <div class="modern-grid my-4">
    <app-dataGrid [(dataSource)]="OperationLest" (onGridLoaded)="GridLoaded($event)" (RenderItemSource)="RenderItem($event)" [Columns]="Columns"></app-dataGrid>
  </div>
</div>