<div class="app-date" [ngStyle]="{'width': showTime?'200px':'unset'}" >
    <p-datePicker
    [placeholder]="placeholder"
    [dateFormat]="dateFormat" 
    [hourFormat]="hourFormat" 
    [timeOnly]="showTimeOnly" 
    [maxDate]="maxDate" 
    [minDate]="minDate"  
    [showTime]="true"
    [showButtonBar]="true" 
    [showTime]="showTime" 
    [view]="view" 
    iconDisplay="input" [(ngModel)]="selectedDate"
    (ngModelChange)="change($event)"  (onClear)="clear()" (onClearClick)="clear()"  dateFormat="dd-mm-yy"  appendTo="body" [showIcon]="true"  [showOnFocus]="false"  ></p-datePicker> 
</div>  