.app-date ::ng-deep .app-date [pinputtext]{
    width: 100% !important;
    padding: 15PX;
    min-width: 50px !important;
}
.app-date ::ng-deep .app-date .p-datepicker{
    width: 100% !important;
}
.app-date ::ng-deep .p-datepicker:has(.p-datepicker-input-icon-container) .p-datepicker-input{
  text-align: center !important;
}
.app-date ::ng-deep .p-datepicker-panel {
    max-width: 500px !important;
    min-width: unset !important;
    direction: rtl !important;
}
::ng-deep .p-datepicker{
    width: 100% !important;
}
