/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin : 0px;
    padding: 0px;
}

::ng-deep .p-dialog-header {
    direction      : ltr !important;
    justify-content: end !important;
}

html,
body {
    direction : ltr !important;
    text-align: left;
}

* {
    direction: ltr;
}

@media (max-width: 960px) {

    .p-dialog  {
        width: 100% !important;
        height: 100% !important;
    }
}