.MyTable ::ng-deep .combo .p-select-label {
    padding: 2px !important;
}

.MyTable ::ng-deep .p-datepicker:has(.p-datepicker-input-icon-container) .p-datepicker-input {
    padding: 2px !important;
}

.MyTable ::ng-deep p-iftalabel {
    padding: 0px !important;
}

.MyTable ::ng-deep .combo .comboLabel {
    display: none !important;
}

.MyTable ::ng-deep td {
    align-content   : center !important;
    text-align      : center !important;
    background-color: transparent !important;
}

.MyTable ::ng-deep th {
    align-content   : center !important;
    padding         : 5px !important;
    color           : white !important;
    background-color: black !important;
}

.MyTable-Height {
    max-height: 700px !important;
}

.MyTable-Height thead {
    height: 40px !important;
}

.MyTable ::ng-deep .p-button-icon-only.p-button-rounded {
    background-color: black;
    width           : 35px;
    height          : 35px;
    color           : white;
}

.MyTable ::ng-deep .p-dropdown {
    border          : none !important;
    min-width       : unset !important;
    box-shadow      : unset !important;
    background-color: transparent !important;
}

.MyTable ::ng-deep .p-inputtext {
    border          : none !important;
    box-shadow      : unset !important;
    background-color: transparent !important;
}

.MyTable ::ng-deep .p-select-dropdown {
    display: none !important;
}

.MyTable ::ng-deep .app-date .p-iconwrapper {
    display: none !important;
}
.MyTable ::ng-deep .p-select-clear-icon{
    left: -20px !important;

}

.MyTable .app-date {
    width: 100% !important;
}

.MyTable .bgTIn {
    background-color: #d6dce4 !important;
    border-top      : 2px solid black !important;
    border-left     : 2px solid black !important;
    border-right    : 2px solid black !important;
}

.MyTable .bgTrOut {
    background-color: #d6dce4 !important;
    border-bottom   : 2px solid black !important;
    border-left     : 2px solid black !important;
    border-right    : 2px solid black !important;
}
.MyTable .bg2TIn {
    background-color: rgb(217, 255, 240) !important;
    border-top      : 2px solid black !important;
    border-left     : 2px solid black !important;
    border-right    : 2px solid black !important;
}

.MyTable .bg2TrOut {
    background-color: rgb(217, 255, 240) !important;
    border-bottom   : 2px solid black !important;
    border-left     : 2px solid black !important;
    border-right    : 2px solid black !important;
}